{{ define "meta" }}

<head>
	<meta charset="UTF-8">
	<title>
		{{ if .Title }}
		{{ .Title }}
		{{ else }}
		QoS Manager
		{{ end }}
	</title>

	<link rel="icon" href="/static/pictures/favicon.png" type="image/png">
	<script src="/static/js/tailwind.js"></script>
	<script src="/static/js/htmx.js"></script>
</head>
{{ end }}
